// Couleur principale du projet
$primaryColor: #4ccf45;
$primaryColorHover: darken($primaryColor, 5%);
$primaryColorLight: lighten($primaryColor, 25%);
$primaryColorLighter: lighten($primaryColor, 35%);

// Couleur secondaire (CTA)
$secondColor: #60E1E0;
$secondColorHover: darken($secondColor, 5%);

// Couleur des liens
$linkColor: #3297d3;
$linkHoverColor: lighten($linkColor, 10%);

// Couleur de fond du projet
$backgroundColor: #e3e8ee;

// Nuances de gris
$lightGray: #ededed;
$boxGray: #f5f6f8;
$gray: #eaeaea;
$darkGray: #697386;

// Couleurs utiles
$black: #23282e;
$lightBlack: #32373d;
$lightRed: #fff0f0;
$red: #ff2d38;
$darkRed: #c30000;
$green: #4fb268;
$darkGreen: #1ea536;
$yellow: #fff13d;
$darkYellow: #b5b500;

